<html>
    <body>
        <form action="/result">
            Name: <input type="text" name="name"><br>
            Borough: <input type="text" name="borough"><br>
            Cuisine: <input type="text" name="cuisine"><br>
            <input type="submit" value="search">
        </form>
    </body>
</html>