<html>
   <body>
      <h1>Restaurants</h1><br>
      <p>Hello, <%= name %>. This is the home page!</p><br>
      
      <h2>Number of Restaurants = <%=nRestaurants%></h2><br>
      <a href="/search">Search</a><br>
      <a href="/create">Create</a><br>
      <h2>Restaurant Name</h2><br>
      <ul>
         <%for (var restaurant of restaurants) {%>
            <li><a href="details?_id=<%=restaurant._id%>"><%=restaurant.name%></a></li>
         <%}%>
      </ul>
      <a href="/logout">Logout</a>
   </body>
</html>